In [1]:
import privjail.pandas as pd

In [2]:
df = pd.read_csv("data/adult_train.csv", "schema/adult.json")

In [3]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,***,***,***,***,***,***,***,***,***,***,***,***,***,***,***
1,***,***,***,***,***,***,***,***,***,***,***,***,***,***,***
2,***,***,***,***,***,***,***,***,***,***,***,***,***,***,***
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [4]:
df.shape

(<*** (int)>, 15)

In [5]:
df.shape[0] * 1.1

<*** (float)>

In [6]:
df["age"]

0      ***
1      ***
2      ***
...    ...
Name: age, dtype: Int64

In [7]:
df["a"]

KeyError: 'a'