# Musical Bands Graph

Author: Pablo Villanueva-Domingo

In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from bandgraph import create_graph, load_data

In [2]:
datapath = "data/"

# Select data for each musical scene
dataname = "jazz"

filename = "../data/"+dataname+".txt"

# Flag for showing collaborations
show_colls = True

dataframe = load_data(filename)
dataframe.head()

,Band,Members,Collaborations
0,Dizzy Gillespie,"Cecil Payne,Miles Davis,Stan Getz,Max Roach",NaN
1,Charlie Parker,"Max Roach,Miles Davis",NaN
2,Bud Powerll,"Max Roach,Paul Chambers",NaN
3,Thelonious Monk,"Coleman Hawkins,John Coltrane,Art Blakey,Max R...",NaN
4,Charles Mingus,Max Roach,NaN

In [3]:
graph = create_graph(dataframe, coll=show_colls)

In [4]:
from ipysigma import Sigma

args = {"node_size":graph.degree,
        "node_color":"type",
        "edge_color":"type",
        "label_density":20,
        "node_border_color_from":"node",
        "start_layout":20}

sig = Sigma(graph, **args)
sig

Sigma(nx.Graph with 46 nodes and 89 edges)

In [5]:
sig.write_html(graph,dataname+'.html', fullscreen=True, **args)